html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: dimgrey;
}

#score-display {
    position: fixed;
    display: flex;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    z-index: 999;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



#overlay-message {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
#message-box {
    background: white;
    padding: 30px 60px;
    font-size: 24px;
    border-radius: 8px;
    color: black;
    text-align: center;
}
  


#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }  


#all-grids {
    display: flex;
    flex-direction: column;
    display: grid;
    align-items: center;
    gap: 40px;
}

#middle-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

#center-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

}
  
#grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    gap: 0;
    padding: 0;
    margin: 0;
}

.sidebars {
    display: grid;
    gap: 0;
}

.topbottom-bars {
    grid-template-columns: repeat(4,120px);
    justify-content: center;
}

.leftright-bars {
    grid-template-rows: repeat(4,120px);
}
  
.tile {
    width: 120px;
    height: 120px;
    background-color: dimgray;
    border: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: grab;
    user-select: none;
}


.tile img:active {
    cursor: grabbing;
    opacity: 0.8;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: dimgray;
    border: 2px solid black;
    transition: background-color 0.3s;
    cursor: pointer;
}

.tile.highlight {
    background-color: dimgrey;
}

.tile.correct {
    background-color: dimgrey;
}

.tile.incorrect {
    background-color: dimgrey;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}

.feedback {
    font-size: 1.2em;
    color: black;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

